button{
    margin: 2px;
}
.obtn
{
    width: 70px;
}
.container{
    width: 240px;
    height: 80vh;
    background-color: rgb(221, 223, 231);
    margin-top: 40px;
    padding: 25px;
    // padding-bottom: 340px;
    padding-top: 10px;
    padding-left: 26px;
    border-radius: 10px;
    align-items: center;
}
.txtbox
{
    direction: rtl;
}