

.btn{
    margin: 10px;
}
.disp
{
    // background-color:rgb(207, 212, 225);

    height: 30px;
    width: 190px;
    border-radius: 5px;
    // border: 3px;
    // border-color: rgb(71, 149, 221);
    // color: rgb(23, 2, 2);
}